@pink: #f56490;
@cream:#faf5f5;
@red: #db1507;
@green: #0b7512;
@yellow: #ede90e;

.margenes (@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;    
}

.jumbotron {
    background-color: @pink;
    color: @cream;
    .margenes (30px, 20px);
    background-image: url(https://coverfiles.alphacoders.com/841/8413.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
  
  footer {
    padding: 10px 10px 0px 10px;
    background-color: @pink;
    .margenes (10px, 0px);
  }
  
  .card-hotel {
    flex: 1 270px;
    .margenes (10px, 0px); }
  
  .card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 100px;
    object-fit: cover; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 20px;
    padding-bottom: 20px; }