.jumbotron {
  background-color: #f56490;
  color: #faf5f5;
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: url(https://coverfiles.alphacoders.com/841/8413.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: #f56490;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 270px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  height: 100px;
  object-fit: cover;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */
